bcrypt==3.2.0
fastapi==0.103.1
mongoengine==0.24.1
passlib==1.7.4
password-strength==0.0.3.post2
pycryptodome==3.12.0
pydantic==1.10.10
python-dotenv==0.19.2
python-jose==3.3.0
python-multipart==0.0.5
redis==5.0.0
uvicorn==0.17.0
pyotp==2.6.0
jinja2==3.0.3
pytest==6.2.5
aiofiles==0.8.0
fastapi-utils==0.2.1
starlette-context==0.3.3
pykeepass==4.0.2
twilio==7.9.2
geocoder==1.38.1
pymongo[srv]==3.12.3
boto3==1.24.70
paramiko==2.11.0
random-password-generator==2.2.0